@font-face {
    src: url(fonts/IBMPlexMono-Regular.ttf);
    font-family: IBMPlexMono;
}

@font-face {
    src: url(fonts/Sailec-Medium.ttf);
    font-family: sailec-Medium;
}

html {
    margin: 0px !important;
}

body {
    height: 100vh;
    background: #000000;
    margin: 0px !important;
    font-family: sailec-Medium;
    font-size: 2vh;
    overflow-x: hidden !important;
}

.main {
    margin-top: 12% !important;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vw;
    opacity: .5;
    z-index: -1;
}

h2 {
    font-size: 5vw;
}

h3 {
    font-size: 2.5vw;
}

h4 {
    font-size: 2vw;
}

h5 {
    font-size: 1.5vw;
}

section {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 100vh !important;
}


/* nav {
    height: 10vh;
} */

.top {
    position: absolute;
    top: 25vh;
}

.element {
    font-family: sailec-Medium;
    font-size: 7vw;
    margin: 0;
}

#logo {
    box-sizing: content-box;
    height: auto;
    padding: 8px 0px;
    width: 1.5rem;
}

.brief {
    color: #007bff;
    font-size: 1vw;
}

h3,
h4 {
    color: rgba(255, 255, 255, .5);
}

.bottom p,
a {
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

.box {
    z-index: 2;
    top: 50vh;
    position: absolute;
}

.box span {
    display: block;
    height: 20px;
    width: 20px;
    border-bottom: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.bottom {
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    color: #007bff;
}

#pin:hover {
    color: #c8232c;
    animation-name: heartBeat;
}

#med:hover {
    color: #00ab6c;
    animation-name: heartBeat;
}

#ig:hover {
    animation-name: heartBeat;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

#beha:hover {
    color: #053eff;
    animation-name: heartBeat;
}

#link:hover {
    color: #0e76a8;
    animation-name: heartBeat;
}

.intro {
    margin: 0vh;
    top: 5vh;
    Font-size: 8vw;
}

.nav-parent {
    margin: 0;
    width: 100%;
    position: relative;
}

.nav-parent ul {
    z-index: 3;
    padding: 0;
    margin: 0;
    font-size: 1vw;
    transform: rotate(-90deg) translate(0, 0);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.skill h3 {
    padding: 2px;
    font-size: 3vw;
}

.skill {
    font-size: 1.7vh;
}

p,
a {
    color: #007bff;
}

.skill h2 {
    font-family: sailec-Medium;
}

.sidehead {
    width: 20vw;
    height: auto;
}

.slide {
    top: 10vh;
    font-size: 1vw;
}

.myPic {
    width: 30vw;
    height: auto;
    padding: 5px;
}

.left {
    padding: 3px;
    text-align: justify;
}

.foot span {
    font-size: 1vw;
    font-family: IBMPlexMono-Regular;
}

.foot .nav {
    padding: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

footer {
    font-size: 2vh;
    background: #007bff;
    color: #ffffff;
}

canvas {
    padding: none !important;
    border: 1px solid white;
    margin: none !important;
}

@media(max-width: 768px) {
    .main {
        margin-top: 25% !important;
    }
    .info {
        flex-direction: column !important;
    }
    .right {
        text-align: center;
    }
    .myPic {
        width: 70vw;
        height: auto;
        padding: none;
    }
    .skill {
        color: #007bff;
        font-size: 3.5vw;
    }
    .nav-parent ul {
        bottom: 20vh;
        font-size: 2.5vw;
    }
    h4 {
        font-size: 3.7vw;
    }
    h5 {
        font-size: 3.2vw;
    }
    .sub-head h6 {
        font-size: 8px !important;
    }
    .float {
        width: 50px !important;
        height: 50px !important;
    }
    .fa-2x {
        font-size: 1.5em !important;
    }
    .float {
        bottom: 60px !important;
    }
    .float-left {
        width: 20px;
        bottom: 50px !important;
    }
    .connect h6 {
        font-size: 0.75em !important;
    }
    .scroll h6 {
        font-size: 12px !important;
    }
    .snap {
        scroll-margin: 20px;
    }
}

.navbar-header {
    float: none;
}

.navbar-brand {
    padding: 0;
}

.cross {
    color: white;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}

.menu li {
    font-size: 52px;
}

.menu {
    z-index: 30;
    display: flex;
    position: fixed;
    background-color: #010101;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    left: -100%;
    overflow: hidden;
}

.bar1,
.bar2 {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 6px;
    transition: 0.4s;
}

.snap {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    scroll-snap-points-y: repeat(100%);
    -webkit-overflow-scrolling: touch;
    scroll-margin: 10px;
}

.art {
    scroll-snap-align: start;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-blend-mode: lighten;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.half-view {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-size: cover;
    background-blend-mode: lighten;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.half-view::before {
    content: '';
    height: 50vh;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
}

#illustrate-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25);
}

#illustrate-one {
    background-image: url(images/icons/protfolioTinypng/digital-art.jpg);
}

#illustrate-two {
    background-image: url(images/icons/protfolioTinypng/Head.png);
}

#illustrate-three {
    background-image: url(images/icons/protfolioTinypng/icon-bg.png);
}

.section {
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 3;
    box-shadow: rgba(255, 255, 255, 0.24);
}

.btn-light {
    background-color: rgba(255, 255, 255, 0.24);
}

.float {
    width: 50px;
    height: 50px;
}

.fa {
    color: #007bff;
}

.float-back {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    bottom: 10vh;
    right: -75px;
    background-color: #ffffff;
    border-radius: 50px;
}

.float-back a {
    text-decoration: none;
}

.float-left {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 72px;
    left: -70px;
}

a .rotate {
    display: block;
    color: #007bff;
    transform: rotate(-90deg);
}

.rotate:hover {
    text-decoration: line-through;
    text-decoration-color: #ffffff;
    -moz-text-decoration-color: rgb(255, 255, 255);
}

a {
    text-decoration: none !important;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divide {
    border: 1px solid #ffffff;
}

.sub-head {
    letter-spacing: 2px;
    margin-top: 18vh;
    margin-bottom: -40vh;
}

.sub-head h6 {
    font-size: 12px;
}

.sub-head:hover {
    text-decoration: line-through;
    text-decoration-color: #007bff;
    -moz-text-decoration-color: rgb(255, 255, 255);
}

.scroll {
    letter-spacing: 2px;
}

.scroll h6 {
    font-size: 12px;
}

.layer {
    z-index: -3;
}

.collab {
    letter-spacing: 2px;
    font-size: small;
}

nav {
    padding-bottom: 0;
    background-color: rgb(0, 0, 0);
}

#rounded-circle {
    animation: animo 2s infinite;
}

@keyframes animo {
    0% {
        opacity: 1;
        transform: scale(0.75);
    }
    50% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
        opacity: 1;
    }
}

#rounded-circle:hover {
    -webkit-animation: 0;
    animation: 0;
}